<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    maximum-scale=1,minimum-scale=1,
    initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Title</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="lib/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="css/header1.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="font/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<div class="container">
    {{> header1}}
    <div class="search">
        <div class="txt">
            <input class="search-txt" type="text" name="nickname" placeholder="请输入昵称">
        </div>
        <div class="btn">
            <button type="button" class="search-btn">搜索</button>
        </div>
    </div>
    <div class="wrapper">
    <ul>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>
        <li>
            <div class="image li-div">
                <img src="img/11.jpg" alt="图片无法显示">
            </div>
            <div class="intro li-div">
                <i class="nickname">我叫小萌</i>
                <i class="signature">天不怕，地不怕，啥子都不怕。</i>
            </div>
            <div class="concern li-div">
                <button type="button" class="concern-btn">关注</button>
            </div>
        </li>

    </ul>
    </div>
    {{> footer}}
</div>

<script src="lib/iscroll-min.js"></script>
<script src="lib/zepto.min.js"></script>
<script src="js/adaption.js"></script>
<script src="js/find.js"></script>

</body>
</html>