<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    maximum-scale=1,minimum-scale=1,
    initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Title</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="lib/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="css/header2.css">
    <link rel="stylesheet" href="font/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/indexhot.css">
</head>
<body>
<div class="container">
    {{> header2}}
    <div class="content">
        <div class="swiper-container">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="fall">
                        <div class="fallL fallcol">
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                        </div>
                        <div class="fallR fallcol">
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="fall">
                        <div class="fallL fallcol">
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                        </div>
                        <div class="fallR fallcol">
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="fall">
                        <div class="fallL fallcol">
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                        </div>
                        <div class="fallR fallcol">
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                            <dl class="fall-dl">
                                <dt><img src="img/1.jpg" alt="图片无法显示"></dt>
                                <dd>小丸子啊小丸子！</dd>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    {{> footer}}
</div>

<script src="lib/iscroll-min.js"></script>
<script src="lib/swiper-3.3.1.min.js"></script>
<script src="lib/zepto.min.js"></script>
<script src="js/adaption.js"></script>

<script>
    var arr = ['足球现场','足球生活','足球美女'];
    var swiper = new Swiper('.swiper-container', {
        autoplay: 1500,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        paginationType: 'bullets',
        loop: true,
        paginationBulletRender: function (index, className) {
            return '<span class="' + className + '">' + arr[index] + '</span>';
        }
    });
    var scroll = new IScroll('.content', {
        mouseWheel: true,
        scrollbars: true,
        click: true
    });
    var paginationH = $('.swiper-pagination').height();
    var wrapperH = $('.fall').height();
    $('.swiper-container').height(paginationH + wrapperH);
    scroll.refresh();
</script>
</body>
</html>